<% require('reflect-metadata'); %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin - Rate Limits</title>
</head>
<body>
  <h1>Recent Rate Limit Offenders</h1>
  <table id="limits">
    <thead>
      <tr>
        <th>IP</th>
        <th>Session</th>
        <th>Path</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</body>
</html>
