.header {
  position: relative;
  min-height: var(--space-125);
  padding: calc(var(--space-18) * var(--density)) var(--space-5);
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    will-change: background-position;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3)
    }
  }
  &__wrap {
    text-align: center;
    &__image {
      width: var(--space-50);
      height: var(--space-50);
      margin: 0 auto;
      border-radius: var(--space-5);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__name {
      margin: calc(var(--space-9) * var(--density)) 0 calc(var(--space-1) * var(--density));
      color: #fff;
      text-shadow: 0 0 var(--space-1) #000;
      font-weight: 600;
      font-size: 2.4rem;
      letter-spacing: 1px;
      @media only screen and (max-width: 768px) {
        font-size: 1.8rem;
      }
    }
    &__position {
      display: block;
      margin-top: calc(var(--space-5) * var(--density));
      color: rgba(255, 255, 255, .95);
      font-size: 1.3rem;
      font-weight: bold;
    }
    &__social {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: calc(var(--space-8) * var(--density));
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--space-9) * var(--density));
        height: calc(var(--space-9) * var(--density));
        padding: calc(var(--space-2) * var(--density));
        margin: 0 calc(var(--space-2) * var(--density));
        color: #fff;
        transition: .2s;
        min-width: calc(var(--space-9) * var(--density));
        &:hover {
          background: rgba(0, 0, 0, .5);
          border-radius: calc(var(--space-2) * var(--density));
        }
      }
      svg {
        width: 100%;
        height: 100%;
        fill: #fff;
      }
    }
  }
}
