.container {
  box-sizing: content-box;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--space-4) * var(--density));
  padding-right: calc(var(--space-4) * var(--density));
}

.section {
  padding-top: calc(var(--space-10) * var(--density));
  padding-bottom: calc(var(--space-10) * var(--density));
  &-title {
    display: flex;
    margin-bottom: calc(var(--space-12) * var(--density));
    font-weight: bold;
    text-transform: uppercase;
    color: #474a73;
    overflow: hidden;
    > span {
      position: relative;
      display: flex;
      align-items: center;
      > .icon {
        margin-right: calc(var(--space-2) * var(--density));
      }
      &::after {
        content: "";
        position: absolute;
        top: calc(50% - ((.2px + .05em)/ 2));
        left: 100%;
        width: 2000px;
        border-bottom: calc(.2px + .05em) solid #e5e5e5;
        margin-left: calc(var(--space-1) + .3em);
      }
    }
  }
}
