<% require('reflect-metadata'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>GPortfolio - Settings</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
<!--<section>-->
<!--    <div class="section&#45;&#45;name">-->
<!--        Global-->
<!--    </div>-->
<!--    <div class="section&#45;&#45;items">-->
<!--        <div class="block">-->
<!--            <div class="block&#45;&#45;label">-->
<!--                Template-->
<!--            </div>-->
<!--            <div class="block&#45;&#45;input">-->
<!--                <input />-->
<!--            </div>-->
<!--            <div class="block&#45;&#45;description">-->
<!--                Select an existing template-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="block">-->
<!--            <div class="block&#45;&#45;label">-->
<!--                Base-->
<!--            </div>-->
<!--            <div class="block&#45;&#45;input">-->
<!--                <input />-->
<!--            </div>-->
<!--            <div class="block&#45;&#45;description">-->
<!--                If the repository is called: &lt;username&gt;.github.io. Then the value is empty-->
<!--                If the repository is called: portfolio, or any other name. Then the value of &lt;name of repository&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section>
    <div class="section--name">
        Global
    </div>
    <div class="section--items">
        <div class="block">
            <div class="block--label">
                Template
            </div>
            <div class="block--input">
                <input/>
            </div>
            <div class="block--description">
                Select an existing template
            </div>
        </div>
        <div class="block">
            <div class="block--label">
                Base
            </div>
            <div class="block--input">
                <input/>
            </div>
            <div class="block--description">
                If the repository is called: &lt;username&gt;.github.io. Then the value is empty
                If the repository is called: portfolio, or any other name. Then the value of &lt;name of repository&gt;
            </div>
        </div>
    </div>
</section>
</body>
</html>
