<%
const { di } = require('../../../../di');
const { TYPES } = require('../../../../types');
const messages = require('../../../../../data/i18n/messages.json');

/** @type {IApplication} */
const app = di.get(TYPES.Application)

const { config, template } = app;
%>

<meta charset="utf-8">
<meta name="generator" content="<%= messages['meta.generator'] %>">
<meta name="author" content="<%= template.info.author %>">
<title><%= `${config.data.first_name} ${config.data.last_name}` %></title>
