:root {
  --surface: #232931;
  --overlay: #2f343d;
  --border: #4b5563;
  --muted: #9ca3af;
  --brand: #4ecca3;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--surface);
}

body {
  font-family: JetBrainsMono, monospace;
  font-size: 13px;
  line-height: 1.2;
  color: var(--muted);
}

input {
  border: 1px solid var(--border);
  outline: 0;
  padding: 7px 10px;
  background-color: var(--overlay);
  border-radius: 5px;
  color: var(--brand);
}
